.project_box {
  width: 1170px;
  height: 400px;
  background-color: #fff;
  margin: auto;
  padding: 10px;
  margin-top: 50px;
  margin-bottom: -200px;
}

.project_title {
  color: #444;
  text-align: center;
  font-size: 60px;
  font-weight: 800;
  padding: 0px;
}

.project_detail {
  text-align: center;
  font-size: 20px;
  color: #444;
  margin-top: -30px;
  font-style: italic;
  font-weight: lighter;
}

.specialty_one {
  color: steelblue;
}

.specialty_two {
  color: mediumseagreen;
}
